{% extends 'inicio.html' %}
{% block titulo %}
  Gestion de Proyectos | Edicion de proyecto
{% endblock titulo %}
{% block body %}
<div class="card">
	<div class="card-header">
      <strong>Cambiar estado del proyecto <i>{{proyecto.nombre}}</i></strong>
	</div>
	<div class="card-body card-block">
		<form method="POST">
			<style>p {color:black;}</style>
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" class="btn btn-danger">Cambiar</button>
			<a class="btn btn-primary" href="{% url 'proyectos:mis_proyectos' %}">Volver</a>
		</form>    
	</div>
</div>


{% endblock body %}




