{% extends 'sprint/sprint.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Asignar y estimar Historia de Usuario
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}

{% block body %}

<div class="card">
    <div class="card-header">
        <strong>Asignar y estimar Historia de Usuario</strong>
    </div>
    <div class="card-header">

      <strong>Nombre :</strong> {{ us.nombre }}<br>
      <strong>Descripcion :</strong> {{ us.descripcion }}<br>
      <strong>Prioridad :</strong> {{ us.prioridad }}<br>
    </div>

    <div class="card-body card-block">
      <form method="POST">
        <style>p {color:black;}</style>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-primary" href="{%  url 'sprint:ver_sb'  form.instance.sprint_id %}" role="button">Cancelar</a>
      </form>        
    </div>
</div>
{% endblock body %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}
