{% extends 'proyectos/proyecto.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Crear Sprint
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
        #guardar{
            color:white;
            background-color: rgb(34, 93, 161);
            border-color: rgb(34, 93, 161);
            border-radius: 5px;
            padding: 5px 10px;
            margin-left:auto;
            width:max-content;
        } 
        #guardar:hover{
            cursor:pointer;
            background-color: rgb(21, 72, 131);
            border-color: rgb(21, 72, 131)
        }
    </style>
{% endblock extra_css %}

{% block body %}

<div class="card">
    <div class="card-header">
        <strong>Crear Sprint</strong>
    </div>
    <div class="card-body card-block">
        {%if existe_sprint_pendiente%}
        <p>No se puede crear un nuevo sprint porque ya existe otro en estado pendiente.</p>   
        <a class="btn btn-primary" href="{%  url 'sprint:listar_sprint' proyecto.id %}" role="button">Volver</a>        
        {%else%}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p }}
            <button type="submit" id="guardar">Crear Sprint</button>
        </form>        
        {%endif%}
    </div>
</div>

<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>
{% endblock body %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}