{% extends 'inicio.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Listado de Proyectos
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
        .eliminar:hover{
            color:white;
            background-color: red;
            border-radius: 5px;
        }

        .eliminar{
            color: red;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
{% endblock extra_css %}

{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Integrantes</strong>
            </div>
        </div>

    </div>
    <div class="table-stats order-table ov-h">
        {%  if users %}
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>username</th>
                        <th>rol</th>
                        {% if request.user.is_superuser %}
                        <th style="text-align: left;">Opciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.user.username }}</td>
                        {% if user.rol.rol%}
                            <td>{{ user.rol.rol }}</td>
                        {% else %}
                            <td>Sin rol</td>
                        {% endif %}
                        {% if  request.user.is_superuser %}
                        <td style="text-align: left;">
                            <a href="#"> Asignar Rol</a>
{#                        {%  url 'proyectos:asignar_roles' proyec.id %}#}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <img src="{% static 'images/ilustration/list_is_empty_1.png' %}" alt="Lista vacia" height="300px" class="center">
        {%  endif %}
    </div>
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>
{% endblock body %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}