{% extends 'proyectos/proyecto.html' %}
{% load static %}
{% load separate_name %}
{% block titulo %}
Gestion de Proyectos | Listado de integrantes
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
        .eliminar:hover{
            color:white;
            background-color: red;
            border-radius: 5px;
        }

        .eliminar{
            color: red;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
{% endblock extra_css %}

{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Integrantes</strong>
            </div>
        </div>

    </div>
    <div class="table-stats order-table ov-h">
        {%  if users %}
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>username</th>
                        <th>rol</th>
                        {% if proyecto.estado == 'Iniciado' or proyecto.estado == 'Pendiente' %}
                        <th style="text-align: left;">Opciones</th>
                            {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% separate_name user.rol.rol as rol_nombre %}
                    <tr>
                        <td>{{ user.user.username }}</td>
                        {% if user.rol.rol%}
                            <td>{{ rol_nombre }}</td>
                        {% else %}
                            <td>Sin rol</td>
                        {% endif %}
                        {% if proyecto.estado == 'Iniciado' or proyecto.estado == 'Pendiente' %}
                        <td style="text-align: left;">
                            <button class="btn btn-primary" onclick="abrirModalRol('{% url 'usuarios:asignar_rol' user.user.id id%}')"> Asignar Rol</button>
                            {% if  user.user.id != proyecto.encargado.id %}
                            <a class="eliminar" href="{% url 'proyectos:expulsar_integrante' user.user.id id%}">  Expulsar </a>
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <img src="{% static 'images/ilustration/list_is_empty_1.png' %}" alt="Lista vacia" height="300px" class="center">
        {%  endif %}
    </div>
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="asignarRol" role="dialog">

</div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>
{% endblock body %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
    <script type="text/javascript">
        var $ = JQuery.noConflict()
        function abrirModalRol(url) {
            $('#asignarRol').load(url, function () {
                $(this).modal('show');
            })
        }
    </script>
{% endblock extrajs %}
