{% extends 'proyectos/proyecto.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Listado de historia de usuarios
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_propios.css' %}">
{% endblock extra_css %}
{% block body %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Historias de Usuario</strong>
            </div>
            <div class="col-md-4">
            {% if proyecto.estado == 'Iniciado' or proyecto.estado == 'Pendiente' %}
                {% ifnotequal request.user.username|stringformat:"s" proyecto.encargado|stringformat:"s" %}
                <button type="button" style="float:right" class="btn boton-crear-us">
                    <a href="{%  url 'proyectos:crear_us'  id%}">
                        <i class="fas fa-plus"></i>
                        Crear Historia de Usuario
                    </a>
                </button>
                {%endifnotequal%}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Prioridad</th>
                    <th>Creado por</th>
                    <th style="text-align: left;">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for us in object_list %}
                    <tr>
                        <td>{{ us.id }}</td>
                        <td>{{ us.nombre }}</td>
                        <td>{{ us.descripcion }}</td>
                        <td>
                            {%if us.rechazado_PB%}
                                <span style="color:red;">¡Rechazado!</span>
                            {%else%} 
                                En espera        
                            {%endif%}    
                        </td>
                        <td> {%ifequal us.prioridad "Alta"%}
                            <span style="color:red">{{us.prioridad}}</style>
                            {%endifequal%}
                            {%ifequal us.prioridad "Media"%}
                            <span style="color:darkcyan">{{us.prioridad}}</style>
                            {%endifequal%}
                            {%ifequal us.prioridad "Baja"%}
                            {{ us.prioridad }}
                            {%endifequal%}</td>
                        <td>{{us.product_owner}}</td>
                        <td class="opciones">
                        {% if proyecto.estado == 'Iniciado' or proyecto.estado == 'Pendiente' %}
                            {% if  request.user.id == us.proyecto.encargado_id %}
                                <a href="{%  url 'proyectos:aprobar_us' us.id%}" class="aprobar">Aprobar</a>
                                {%if not us.rechazado_PB%}
                                <a href="{%  url 'proyectos:rechazar_us' us.id%}" class="eliminar">Rechazar</a>
                                {%endif%}
                            {% endif %}
                        {% if  request.user.id == us.product_owner_id %}
                                <a href="{%  url 'proyectos:editar_us' us.id %}"> Editar</a>
                                <a href="{%  url 'proyectos:eliminar_us' us.id %}" class="eliminar"> Eliminar</a>
                        {% endif %}
                        {% endif %}
                                  <a href="{%  url 'sprint:historial_hu' us.id %}">Ver Historial</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}