<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%  if proyectos %}

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>descripcion</th>
                    <th>estado</th>
                     <th>modificar</th>
                </tr>
            </thead>
            <tbody>
            {% for proyec in proyectos %}
                <tr>
                    <td>{{ proyec.id }}</td>
                    <td>{{ proyec.nombre }}</td>
                    <td>{{ proyec.descripcion}}</td>
                    <td>{{ proyec.estado }}</td>
                    <td>
                        <a href="{%  url 'proyectos:editar_proyectos' proyec.id %}"> Editar</a>
                        <a href="{%  url 'proyectos:eliminar_proyectos' proyec.id %}"> Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1> No existen proyectos</h1>
    {%  endif %}
</body>
</html>