{% extends 'inicio.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Listado de Proyectos
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_propios.css' %}" type="text/css">
{% endblock extra_css %}

{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">
                    {% if title%}
                        {{title}}
                    {%else%}
                        Listado de Proyectos
                    {%endif%}
                </strong>
            </div>
        </div>

    </div>
    <div class="table-stats order-table ov-h">
        {%  if object_list %}
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>descripcion</th>
                        <th>estado</th>
                        <th style="text-align: left;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for proyec in object_list %}
                    <tr>
                        <td>{{ proyec.id }}</td>
                        <td>{{ proyec.nombre }}</td>
                        <td>{{ proyec.descripcion }}</td>
                        <td>{{ proyec.estado }}</td>

                        <td style="text-align: left;" class="opciones">
                            {% if  request.user.id == proyec.encargado.id %}
                                <a href="{%  url 'proyectos:editar_proyecto' proyec.id %}"> Editar</a>
                            {% endif %}
                            {% if  request.user.is_superuser == us.product_owner.id %}
                                <a class="eliminar" href="{%  url 'proyectos:eliminar_proyecto' proyec.id %}"> Eliminar</a>
                            {% endif %}
                            {% if request.user in proyec.equipo.all%}
                                <a href="{%  url 'proyectos:ver_proyecto' proyec.id%}"> Ver proyecto</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <img src="{% static 'images/ilustration/list_is_empty_1.png' %}" alt="Lista vacia" height="300px" class="center">
        {%  endif %}
    </div>
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>
{% endblock body %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}