<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eliminar Proyectos</title>
</head>
<body>
    <form method="POST">
        {%  csrf_token %}
        <h2> Desea eliminar el proyecto {{ proyecto.nombre  }}</h2>
            <button type="submit">Eliminar</button>
            <a href="{%  url "proyectos:listar_proyectos" %}">Cancelar</a>
    </form>
</body>
</html>