{% extends 'proyectos/proyecto.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Product Backlog
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
         #danger:hover{
            color:red;
        }
        .center {
          text-align: center
    </style>
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Product Backlog</strong>
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Historias de Usuario con estado: Pendiente</strong>
            </div>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Horas Trabajadas (en total)</th>
                    <th style="text-align: left;">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for us in object_list %}
                  {% if us.estado == 'Pendiente' %}
               <tr>
                 <td>{{ us.id }}</td>
                 <td>{{ us.nombre }}</td>
                 <td>{{ us.descripcion }}</td>
                 <td>{{ us.prioridad }}</td>
                 <td>{{ us.estado }}</td>
                 <td class="center">{{ us.horas_trabajadas_en_total }} horas</td>
                 <td style="text-align: left;">
                        <a href="{%  url 'sprint:agregar_hu' us.id %}">Agregar a Sprint</a><br>
                        <a href="{%  url 'sprint:historial_hu' us.id %}">Historial</a><br>
                 </td>
               </tr>
                  {% endif %}
             {% endfor %}
            </tbody>
        </table>
    </div>




    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Historias de Usuario con estado: ToDo</strong>
            </div>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Horas Trabajadas (en total)</th>
                    <th style="text-align: left;">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for us in object_list %}
                  {% if us.estado == 'ToDo' %}
               <tr>
                 <td>{{ us.id }}</td>
                 <td>{{ us.nombre }}</td>
                 <td>{{ us.descripcion }}</td>
                 <td>{{ us.prioridad }}</td>
                   <td>{{ us.estado }}</td>
                 <td class="center">{{ us.horas_trabajadas_en_total }} horas</td>
                 <td style="text-align: left;">
                        <a href="{%  url 'sprint:historial_hu' us.id %}">Historial</a><br>
                 </td>
               </tr>
                  {% endif %}
             {% endfor %}
            </tbody>
        </table>
    </div>




     <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Historias de Usuario con estado: Doing</strong>
            </div>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Horas Trabajadas (en total)</th>
                    <th style="text-align: left;">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for us in object_list %}
                  {% if us.estado == 'Doing' %}
               <tr>
                 <td>{{ us.id }}</td>
                 <td>{{ us.nombre }}</td>
                 <td>{{ us.descripcion }}</td>
                 <td>{{ us.prioridad }}</td>
                 <td>{{ us.estado }}</td>
                 <td class="center">{{ us.horas_trabajadas_en_total }} horas</td>
                 <td style="text-align: left;">
                        <a href="{%  url 'sprint:historial_hu' us.id %}">Historial</a><br>
                 </td>
               </tr>
                  {% endif %}
             {% endfor %}
            </tbody>
        </table>
    </div>



     <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Historias de Usuario con estado: Done</strong>
            </div>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Horas Trabajadas (en total)</th>
                    <th style="text-align: left;">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for us in object_list %}
                  {% if us.estado == 'Done' %}
               <tr>
                 <td>{{ us.id }}</td>
                 <td>{{ us.nombre }}</td>
                 <td>{{ us.descripcion }}</td>
                 <td>{{ us.prioridad }}</td>
                 <td>{{ us.estado }}</td>
                 <td class="center">{{ us.horas_trabajadas_en_total }} horas</td>
                 <td style="text-align: left;">
                        <a href="{%  url 'sprint:historial_hu' us.id %}">Historial</a><br>
                 </td>
               </tr>
                  {% endif %}
             {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Historias de Usuario con estado: QA</strong>
            </div>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th>Horas Trabajadas (en total)</th>
                    <th style="text-align: left;">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for us in object_list %}
                  {% if us.estado == 'QA' %}
               <tr>
                 <td>{{ us.id }}</td>
                 <td>{{ us.nombre }}</td>
                 <td>{{ us.descripcion }}</td>
                 <td>{{ us.prioridad }}</td>
                {%  if us.aprobado_QA == False %}
                    <td><p> Pendiente_QA</p></td>
                    {% endif %}
                   {% if us.aprobado_QA == True %}
                   <td><p> Aprobado_QA</p></td>
                   {% endif %}
                  <td class="center">{{ us.horas_trabajadas_en_total }} horas</td>
                 <td style="text-align: left;">
                        <a href="{%  url 'sprint:historial_hu' us.id %}">Historial</a><br>
                 </td>
               </tr>
                  {% endif %}
             {% endfor %}
            </tbody>
        </table>
    </div>


</div>
{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}
