{% block titulo %}
  Gestion de Proyectos | Aprobar QA
{% endblock titulo %}
{% block body %}
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'sprint:aprobarQA' pk us %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body card-block">
                {{ form.as_p }}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Aprobar </button>
            <a class="btn" style="background-color:lightgray" href="{%  url 'sprint:kanban' pk %}" role="button">Cancelar</a>
        </form>
    </div>
</div>

{% endblock body %}