{% extends 'sprint/sprint.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Crear Sprint
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
        .table-stats{
            background-color: #e8e9ef;
        }
        #tabla-crear-proyecto, #tabla-crear-proyecto textarea, input[type=text]{
            width:100%;
        }
        #tabla-crear-proyecto tr td{
            text-align: left;
        }
        #tabla-crear-proyecto textarea, input[type=text], select{
            border-radius: 5px;
        }
        #guardar{
            color:white;
            background-color: rgb(34, 93, 161);
            border-color: rgb(34, 93, 161);
            border-radius: 5px;
            padding: 5px 10px;
            margin:0 20px 10px 20px;
            float:right;
        }
        #guardar:hover{
            cursor:pointer;
            background-color: rgb(21, 72, 131);
            border-color: rgb(21, 72, 131)
        }
    </style>
{% endblock extra_css %}

{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Asignar capacidad para Sprint</strong>
            </div>
        </div>
    </div>
    <div class="card-body card-block">
    {%if estoyEnEquipo%}    
        {%if capacidadCargada%}
        <p>Ya has cargado tu capacidad diaria para este Sprint.</p>   
        <a class="btn btn-primary" href="{%  url 'sprint:ver_sprint' sprint.id %}" role="button">Volver</a> 
        {%else%}
        <form method="POST">
            {%  csrf_token %}
            {{form.as_p }}
            <button type="submit" id="guardar">Cargar</button>
        </form>
        {%endif%}
    {%else%}
    <p>No estás en el equipo de trabajo para este Sprint.</p>  
    <a class="btn btn-primary" href="{%  url 'sprint:ver_sprint' sprint.id %}" role="button">Volver</a> 
    {%endif%}   
    </div> 
        
    
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

<div class="modal fade" id="eliminacion" role="dialog">

</div>
{% endblock body %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}