{% extends 'sprint/sprint.html' %}
{% block extra_css %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>
  /**
   * Sum elements of an array up to the index provided.
   */
  function sumArrayUpTo(arrData, index) {
    var total = 0;
    for (var i = 0; i <= index; i++) {
      if (arrData.length > i) {
        total += arrData[i];
          }
    }
    return total;
  }

/**
* elementId:id="burndown43"
  burndownData: guarda los datos (horas trabajadas)
  scopeChange: linea ideal
*/
  function showBurnDown(elementId, burndownData, scopeChange = []) {

    var speedCanvas = document.getElementById(elementId);

    Chart.defaults.global.defaultFontFamily = "Arial";
    Chart.defaults.global.defaultFontSize = 14;

    const totalHoursInSprint = burndownData[0]; // Capacidad del sprint
    const idealHoursPerDay = totalHoursInSprint / {{sprint.duracion_dias|safe }};
    i = 0;
    ideal = []
    for (var j = 0, n = {{sprint.duracion_dias|safe }} +1 ; j < n; j++) {
        ideal[j] = Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, j))
    };

    var speedData = {
      labels: {{fechas|safe}},
      datasets: [
        {
          label: "Burndown",
          data: burndownData,
          fill: false,
          borderColor: "#EE6868",
          backgroundColor: "#EE6868",
          lineTension: 0,
        },
        {
          label: "Ideal",
          borderColor: "#6C8893",
          backgroundColor: "#6C8893",
          lineTension: 0,
          borderDash: [5, 5],
          fill: false,
          data: ideal
        },
      ]
    };

    var chartOptions = {
      legend: {
        display: true,
        position: 'top',
        labels: {
          boxWidth: 80,
          fontColor: 'black'
        }
      },
      scales: {
          yAxes: [{
              ticks: {
                  min: 0,
                  max: Math.round(burndownData[0] * 1.1)
              }
          }]
      }
    };

    var lineChart = new Chart(speedCanvas, {
      type: 'line',
      data: speedData,
      options: chartOptions
    });

  }
  </script>
{% endblock extra_css %}

{% block body %}

    <div style="width:900px;"><canvas id="burndown43"></canvas></div>
    <script>
    showBurnDown (
      "burndown43",
      //   1    2    3    4    5    6    7    8    9   10
      {{datos}}, // burndown data
      [    0,   0,   0,   0,   0,  0,   0,   0,   0,   0   ]  // scope change
    );
    </script>

{% endblock body %}
