{% extends 'proyectos/proyecto.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Crear Sprint
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_propios.css' %}">

{% endblock extra_css %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="card">
      <div class="card-header">
          <strong>Editar Sprint #{{ form.instance.nombre }}</strong>
      </div>
      <div class="card-body card-block">
          {{ form.as_p }}
      </div>
    </div>
    <button type="submit" class="btn btn-success">Aplicar</button>
    <a class="btn btn-primary" href="{%  url 'proyectos:listar_us'  form.instance.proyecto_id %}" role="button">Cancelar</a>
</form>

{% endblock body %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}