{% extends 'sprint/sprint.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Listado de historia de usuarios
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_propios.css' %}">
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Miembros del Equipo</strong>
            </div>
            {% ifequal sprint.estado|stringformat:"s" "Pendiente" %}
            <div class="col-md-4">
                <button type="button" style="float:right" class="btn boton-crear-us">
                    <a href="{%  url 'sprint:configurar_equipo' id%}">
                        <i class="fa fa-user"></i>
                        Añadir miembro(s)
                    </a>
                </button>
            </div>
            {%endifequal%}

        </div>
    </div>
    <div class="table-stats order-table ov-h">
      {%  if object_list %}
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Capacidad diaria</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>

              {% for miembros in object_list  %}
               <tr>
                 <td>{{ miembros.id }}</td>
                 <td>{{ miembros.first_name }}</td>
                {%  if capacidad.exists %}
                   {% for c in capacidad  %}
                    {%  if c.usuario_id == miembros.id %}
                      <td>{{ c.capacidad_diaria_horas }} horas</td>
                    {%  endif %}
                   {% endfor %}
                {% else %}
                  <td>Sin registros</td>
                {%  endif %}
                 <td></td>
               </tr>
             {% endfor %}
            </tbody>
        </table>
        {% else %}
            <img src="{% static 'images/ilustration/list_is_empty_1.png' %}" alt="Lista vacia" height="300px" class="center">
        {%  endif %}
    </div>
</div>
<div class="col-md-4">
  {% if sprint %}
    <h6>Capacidad del Sprint: {{ sprint.capacidad_de_equipo_sprint }} horas</h6>
    <h6>Duración del Sprint: {{ sprint.duracion_dias }} días</h6>
  {%  endif %}

</div>
{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}
