{% extends 'proyectos/proyecto.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Listado de historia de usuarios
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_propios.css' %}">
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Sprints</strong>
            </div>
            <div class="col-md-4">
                <button type="button" style="float:right" class="btn boton-crear-us">
                    <a href="{%  url 'sprint:crear_sprint'  id%}">
                        <i class="fas fa-plus"></i>
                        Crear Sprint
                    </a>
                </button>
            </div>
        </div>

    </div>
    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Estado</th>
                    <th style="text-align: left;">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for sprint in object_list %}
               <tr>
                 <td>{{ sprint.id }}</td>
                 <td>{{ sprint.nombre }}</td>
                 <td>{{ sprint.fecha_inicio }}</td>
                 <td>{{sprint.fecha_fin}}</td>
                 <td>{{ sprint.get_estado_display }}</td>
                 <td class="opciones" style="text-align: left;">
                        <a href="{% url 'sprint:ver_sprint' sprint.id%}">Ver Sprint</a>
                        <a href="{%  url 'sprint:editar_sprint' sprint.id %}">Editar Sprint</a>
                        <a href="{%  url 'sprint:eliminar_sprint' sprint.id %}" class="eliminar">Eliminar Sprint</a>
                 </td>

               </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}