{% block titulo %}
  Gestion de Proyectos | Ver User History
{% endblock titulo %}
{% block body %}
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Historia de usuario</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h2>Nombre: {{ us.nombre }}</h2>
        <h3>Descripcion: {{ us.descripcion }}</h3>
        <h3>Desarrollador: {{ desarrollador.username }}</h3>
    </div>
</div>
{% endblock body %}