{% block titulo %}
  Gestion de Proyectos | Crear Actividad
{% endblock titulo %}
{% block body %}
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Actividad</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h2>nombre: {{ actividad.nombre }}</h2>
        <h3>comentario: {{ actividad.comentario }}</h3>
        <h3>horas de trabajo: {{ actividad.hora_trabajo }}</h3>
    </div>
</div>
{% endblock body %}