{% extends 'sprint/sprint.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Sprint Backlog
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
         #danger:hover{
            color:red;
        }
    </style>
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Sprint Backlog</strong>
            </div>
            <div class="col-md-4">
                {% ifequal request.user.username|stringformat:"s" proyecto.encargado|stringformat:"s" %}
                {% ifequal sprint.estado|stringformat:"s" "Pendiente" %}
                <button type="button" style="float:right" class="btn boton-iniciar-sprint">
                    <a href="{%  url 'sprint:iniciar_sprint' sprint.id %}">
                        <i class=></i>
                        <span>Iniciar Sprint</span>
                    </a>
                </button>
                {%endifequal%}
                {%endifequal%}
            </div>
        </div>

    </div>
    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Prioridad</th>
                    <th>Desarrollador</th>
                    <th>Planning Poker</th>
                    <th>Estado</th>
                    {% ifequal request.user.username|stringformat:"s" proyecto.encargado|stringformat:"s" %}

                    <th style="text-align: left;">Opciones</th>
                    {%endifequal%}
                </tr>
            </thead>
            <tbody>

                 {% if object_list.first.hu.id  %}
                     {% for objeto in object_list %}
                     <tr>
                         <td>{{ objeto.hu.id }}</td>
                        <td>{{ objeto.hu.nombre }}</td>
                        <td>{{ objeto.hu.descripcion }}</td>
                        <td>{{ objeto.prioridad }}</td>
                        <td>{{ objeto.desarrollador }}</td>
                        <td>{{ objeto.PP }}</td>
                        <td>{{ objeto.estado }}</td>
                     </tr>
                    {% endfor %}
{% else %}
                     {% for objeto in object_list %}
               <tr>
                 <td>{{ objeto.id }}</td>
                 <td>{{ objeto.nombre }}</td>
                 <td>{{ objeto.descripcion }}</td>
                 <td>{{ objeto.prioridad }}</td>
                 <td>{{ objeto.asignacion }}</td>
                 <td>
                    {% if objeto.estimacion == 0%}
                    Pendiente
                    <div>
                        {% ifequal request.user.username|stringformat:"s" objeto.asignacion|stringformat:"s" %}
                        <a style="color:blue" href="{%  url 'sprint:estimar_us' objeto.id %}">Estimar</a>
                        {%endifequal%}
                     </div>
                    {%else%}
                    {{ objeto.estimacion }} horas
                    {%endif%}
                 </td>
                   <td>{{ objeto.estado }}</td>
                 {% ifequal request.user.username|stringformat:"s" proyecto.encargado|stringformat:"s" %}
                 <td style="text-align: left;">
                        {% if objeto.estimacion == 0%}
                            {% if objeto.estimacion_scrum == 0%}
                            <a href="{%  url 'sprint:configurar_us' objeto.id %}">Asignar y estimar</a><br>
                            {%else%}
                            <a href="{%  url 'sprint:configurar_us' objeto.id %}">Reasignar y estimar</a><br>
                            {%endif%}
                        {% endif %}
                        {% if objeto.estimacion != 0%}
                            <a href="{%  url 'sprint:reasignar_us' objeto.id %}">Reasignar desarrollador</a><br>
                        {% endif %}
                        {% ifequal sprint.estado|stringformat:"s" "Pendiente" %}
                            <a href="{%  url 'proyectos:quitar_us_de_sb' objeto.id sprint.id %}">Quitar de sprint</a><br>
                        {% endifequal %}
                  </td>
                  {%endifequal%}
               </tr>
                     {% endfor %}
                  {% endif %}

            </tbody>
        </table>
    </div>
</div>

<div class="col-md-4">
  <li>Capacidad planificada del Sprint: {{capacidad_sprint}} horas</li>
  <li>Suma total del Planning Poker: {{suma_historia}} horas</li>
  {% ifequal sprint.estado|stringformat:"s" "Pendiente" %}
    <li>Capacidad restante del Sprint: {{capacidad_pendientes}} horas</li>
    <br>
    {% if capacidad_pendientes <= 0 %}
      <i><strong>¡Atención! El total de horas estimadas de las Historias de Usuario sobrepasan la capacidad planificada del Sprint</strong></i>
    {% endif %}
  {% endifequal %}
</div>

{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}
