{% block titulo %}
  Gestion de Proyectos | Crear Actividad
{% endblock titulo %}
{% block body %}
<style>
  	.center {
      text-align: center
  }
</style>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="center"> <strong>Actividad: {{ actividad.nombre }}</strong></h3>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <h3>Comentario: {{ actividad.comentario }}</h3>
          <h3>Horas de trabajo: {{ actividad.hora_trabajo }} horas</h3>
          <h3>Fecha: {{ actividad.fecha }}</h3>
        </div>
    </div>
</div>
{% endblock body %}
