{% extends 'sprint/sprint.html' %}
{% load static %}
{% block titulo %}
Gestion de Proyectos | Sprint Backlog
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
         #danger:hover{
            color:red;
        }
    </style>
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Sprint Backlog</strong>
            </div>
        </div>

    </div>
    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Prioridad</th>
                    <th>Desarrollador</th>
                    <th>Planning Poker</th>
                    <th>Estado</th>

                     

                    {% ifequal request.user.username|stringformat:"s" proyecto.encargado|stringformat:"s" %}

                    <th style="text-align: left;">Opciones</th>
                    {%endifequal%}
                </tr>
            </thead>
            <tbody>
              {% for us in object_list %}
               <tr>
                 <td>{{ us.id }}</td>
                 <td>{{ us.nombre }}</td>
                 <td>{{ us.descripcion }}</td>
                 <td>{{ us.prioridad }}</td>
                 <td>{{ us.asignacion }}</td>
                 <td>{{ us.estimacion }}
                     <div>
                        {% ifequal request.user.username|stringformat:"s" us.asignacion|stringformat:"s" %}
                       
                            {% if us.estimacion == 0%}
                            <a href="{%  url 'sprint:estimar_us' us.id %}">Estimar</a>
                            {% endif %}
                       
                        {%endifequal%}
                     </div>
                 </td>
                 <td>{{ us.estado }}</td>
                 {% ifequal request.user.username|stringformat:"s" proyecto.encargado|stringformat:"s" %}
                 <td style="text-align: left;">
                     {% if us.estimacion == 0%}
                        <a href="{%  url 'sprint:configurar_us' us.id %}">Asignar</a><br>
                        {% endif %}
                        {% if us.estimacion != 0%}
                        <a href="{%  url 'sprint:reasignar_us' us.id %}">Asignar</a><br>
                        {% endif %}
                    {% if us.estimacion != 0%}
                    <a href="{%  url 'sprint:cambio_estadoHU' us.id %}">Cambiar Estado</a>
                    {% endif %}
                    <a href="{%  url 'sprint:historial_hu' us.id %}">Historial</a><br>
                  </td>

                  {%endifequal%}   

               </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}