.eliminar:hover{
    color:red;
}
.opciones a{
    padding: 0 8px;
    display: block;
    float: left;
    clear:left;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.boton-correos a{
    color:#03A9F3;
}
.boton-correos:hover{
    background-color: #03A9F3;
}
.boton-correos:hover a{
    color:white;
}
.aprobar:hover{
    color: green;
}   

.fondo-claro{
    background-color: #e8e9ef;
}

#tabla-crear-proyecto, #tabla-crear-proyecto textarea, input[type=text]{
    width:100%;
}
#tabla-crear-proyecto tr td{
    text-align: left;
}
#tabla-crear-proyecto textarea, input[type=text], select{
    border-radius: 5px;
}
#guardar{
    color:white;
    background-color: rgb(34, 93, 161);
    /*border-color: rgb(34, 93, 161);
    border-radius: 5px;
    padding: 5px 10px;*/
    margin:0 20px 10px 20px;
    float:right;
}
#guardar:hover{
    cursor:pointer;
    background-color: rgb(21, 72, 131);
    border-color: rgb(21, 72, 131)
}

#titulo-proyecto{
    text-align: center;
    padding:20px 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: cornflowerblue; 
    color: white
}

#titulo-sprint{
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: lowercase;
    background-color: rgb(121, 120, 120); 
    color: white;
    font-weight:lighter;
}

.boton-crear-us a{
    color:#607D8B;
}
.boton-crear-us{
    padding:0;
    background-color: #F7F7F7;
}
.boton-crear-us:hover a{
    color:#03A9F3
}

.boton-iniciar-sprint a{
    color:white;
}
.boton-iniciar-sprint{
    padding:5px 10px;
    background-color: green;
}
.boton-iniciar-sprint:hover{
    background-color: darkgreen;
}