{% load socialaccount %}
{% load  crispy_forms_tags %}
{% load i18n %}
<html>

    <head>
        <meta charset="utf-8">
        <title>Gestor de proyecto</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
    {% if messages %}
        {% for message in messages %}
            <div align="center" class="border border-primary">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
        <h1 align="center">Proyecto IS II</h1>
        {% if user.is_authenticated %}
            <button type="submit" class="border border-primary" ><a href="{% url 'inicio' %}">Ingresar al Sistema</a></button>

        {% else %}
            <br>
            <br>
            <div align="center">
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Iniciar Sesion con google</a>
            </div>

        {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>