{% extends 'proyectos/proyecto.html' %}
{% load static %}
{% load separate_name %}
{% block titulo %}
Gestion de Proyectos | Listado de Roles
{% endblock titulo %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
    <style>
      .eliminar:hover{
          color:white;
          background-color: red;
          border-radius: 5px;
      }

      .eliminar{
          color: red;
      }
      .opcion:hover{
          color:white;
          background-color: blue;
          border-radius: 5px;
      }
      .opcion:{
          color:blue;

      }
      .center {
          margin-left: auto;
          margin-right: auto;
          display: block;
      }
    </style>
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Roles</strong>
            </div>
        </div>

    </div>
    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for roles in object_list %}
               {% separate_name roles.rol as rol %}
               <tr>
                 <td>{{ roles.id }}</td>
                 <td>{{ rol }}</td>
                 <td class="opciones">
                   <a class="opcion" href="{%  url 'usuarios:agregar_permisos_roles' roles.id %}">  Agregar permisos</a>
                   <a class="eliminar" href="{%  url 'usuarios:eliminar_rol' roles.id %}">  Eliminar </a>
                 </td>
               </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}
{% block extrajs %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/usuarios/index.js' %}"></script>
{% endblock extrajs %}
